form(nz-form, [nzLayout]="formLayout", (ngSubmit)="submitForm()")
  ng-container(*ngTemplateOutlet="formTpl; context: { group: formGroup, field: formField }")
  ng-content

ng-template(#formTpl let-group="group" let-field="field")
  ng-container(*ngFor="let name of group.controls | keys")
    ng-container(*ngIf="!group.controls[name].controls")
      ng-container(*ngTemplateOutlet="itemTpl; context: { name: name, group: group, control: group.controls[name], field: field[name] }")
    .form-group(*ngIf="group.controls[name].controls")
      .form-group-caption {{ groupLabel[name] || name }}
      ng-container(*ngTemplateOutlet="formTpl; context: { group: group.controls[name], field: field[name] }")

ng-template(#itemTpl let-name="name" let-group="group" let-control="control" let-field="field")
  nz-form-item([formGroup]="group", *ngIf="!field.template")
    nz-form-label([nzRequired]="field.required", [ngClass]="{ 'has-error': control.invalid && control.touched }") {{ field.type != 'checkbox' ? field.label : '' }}
    nz-form-control([ngSwitch]="field.type")
      nz-form-text(*ngSwitchCase="'text'") {{ group.value[name] }}
      nz-select([formControlName]="name", [nzPlaceHolder]="field.placeholder", (nzBlur)="updateValidity(control)",  (nzOpenChange)="!$event ? updateValidity(control) : 0", *ngSwitchCase="'select'")
        nz-option([nzLabel]="option.label || option.name", [nzValue]="option.value || option.id", *ngFor="let option of field.addition.data")
      ng-container(*ngSwitchCase="'number'")
        nz-input-number([formControlName]="name", (nzBlur)="updateValidity(control)", *ngIf="!field.addition.format")
        nz-input-number([formControlName]="name", [nzFormatter]="field.addition.format", (nzBlur)="updateValidity(control)", *ngIf="field.addition.format")
      label(nz-checkbox, [formControlName]="name", *ngSwitchCase="'checkbox'") {{ field.label }}
      ng-container(*ngSwitchCase="'datetime'")
        ng-container([ngSwitch]="subtype")
          nz-range-picker([formControlName]="name", [nzFormat]="field.addition.format", [nzShowTime]="subtype.includes('time')", *ngSwitchCase="'date-range' || 'datetime-range'")
      ng-container(*ngSwitchDefault)
        textarea(nz-input, [formControlName]="name", [placeholder]="field.placeholder", (blur)="updateValidity(control)", *ngIf="field.addition.multiline")
        ng-container(*ngIf="!field.addition.multiline")
          ng-container(*ngIf="!field.addition.suffix")
            input(nz-input, [formControlName]="name", [placeholder]="field.placeholder", [type]="field.subtype", (blur)="updateValidity(control)", *ngIf="!field.addition.tooltip")
            input(nz-input, [formControlName]="name", [placeholder]="field.placeholder", [type]="field.subtype", (blur)="updateValidity(control)" nz-tooltip, [nzTitle]="field.addition.tooltip.title || field.addition.tooltip", [nzTrigger]="field.addition.tooltip.trigger || 'focus'" nzPlacement="right", *ngIf="field.addition.tooltip")
          nz-input-group([nzAddOnAfter]="field.addition.suffix", *ngIf="field.addition.suffix")
            input(nz-input, [formControlName]="name", [placeholder]="field.placeholder", [type]="field.subtype", (blur)="updateValidity(control)")
      nz-form-extra(*ngIf="!field.controlError || !field.errors[field.controlError]") {{ field.extra }}
      nz-form-explain(*ngIf="field.controlError && field.errors[field.controlError]") {{ field.errors[field.controlError] }}
  ng-container(*ngIf="field.template")
    ng-container(*ngTemplateOutlet="field.template; context: { name: name, group: group, field: field }")
